<mat-card>
  <mat-card-header>
    <div mat-card-avatar
         class="avatar-img"
         [ngStyle]="{backgroundImage:'url('+issue.user.avatar_url+')'}">
    </div>
    <mat-card-title>
      <a [href]="issue.html_url">{{issue.title}}</a>
    </mat-card-title>
    <div fxFlex></div>
    <button mat-icon-button
            class="favorite-button"
            [ngClass]="{'favorite':issue.favorite}"
            aria-label="Add to favorites"
            (click)="favouriteClickHandler()">
      <mat-icon>favorite</mat-icon>
    </button>
    <mat-card-subtitle>created by <a [href]="issue.user.html_url" class="username">{{issue.user.login}}</a>
      on {{issue.created_at | date}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{issue.body}}</p>
  </mat-card-content>
  <mat-card-footer fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="8px">
    <!--<mat-chip-list fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">-->
    <div class="label" *ngFor="let label of issue.labels"
         [ngStyle]="{backgroundColor:'#'+label.color}">{{label.name}}</div>
    <!--</mat-chip-list>-->
  </mat-card-footer>
</mat-card>

