$link-color: #fbd343;

mat-card {
  height: 100%;
  box-sizing: border-box;


  mat-card-header {
    margin-top: 16px;

    .avatar-img {
      background-size: cover;
    }

    mat-card-title {
      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $link-color
        }
      }
    }

    .username {
      color: $link-color;
      text-decoration: none;
    }
  }

  mat-card-content {
    overflow-wrap: break-word;
  }

  mat-card-footer {
    position: absolute;
    top: 0;
    left: 32px;
    right: 16px;

    .label {
      mix-blend-mode: difference;
      font-weight: 700;
      font-size: 10px;
      text-transform: uppercase;
      padding: 2px 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

    }
  }
}




