<div class="paginator" fxLayout="row" fxLayoutAlign.xs="center center" fxLayoutAlign="flex-end center" fxLayoutGap="16px">
  <button (click)="prevPageClickHandler()" mat-stroked-button color="primary" [disabled]="currentPage === 1"><mat-icon>chevron_left</mat-icon></button>
  <div>Showing issues {{(currentPage - 1) * listLength + 1}}
    - {{(currentPage - 1) * listLength + listLength}} of {{totalCount}} found
  </div>
  <button (click)="nextPageClickHandler()" mat-stroked-button color="primary" [disabled]="currentPage === numPages"><mat-icon>chevron_right</mat-icon></button>
</div>
