mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 9999;
}

a {
  text-decoration: none;
  color: white;

  &:hover, &.active {
    color: #ffd740;
  }
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.logo {
  .desc {
    font-style: italic;
    font-weight: 100;
  }
}
