<mat-toolbar color="primary" class="mat-elevation-z2">
  <div fxFlex fxLayout="flex-start flex-end"  fxLayoutGap="20px" class="logo">
    <h1><a routerLink="/">GIF</a></h1>
    <span class="desc" fxHide.xs>(Git Issues Finder)</span>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li><a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Search</a></li>
      <li><a routerLink="/favorites" [routerLinkActive]="['active']">Favorites</a></li>
    </ul>
  </div>
</mat-toolbar>
