<form fxLayout="row" fxLayoutAlign="center center"  [formGroup]="keywordForm" (ngSubmit)="onSubmit()">
  <mat-form-field fxFlex.xs="90%" fxFlex="40%" >
    <input matInput
           type="text"
           id="keyword"
           formControlName="keyword"
           placeholder="Search for issues"
           [value]="initialKeyword"
           (input)="onSubmit()">
  </mat-form-field>
</form>
