/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f1f1f1;
}

.info-text {
  font-size: 2rem;
  font-weight: 700;
  color: lightgray;
  text-align: center;

  &.warn {
   color:#e7918a;
    font-size: 1.6rem;
  }
}

.favorite-button {
  color: lightgray;

  &.favorite {
    color: indianred;
  }
}
