<div *ngIf="favorites.length" >
  <div class="favorite-item" *ngFor="let issue of favorites" fxLayout="row" fxLayoutAlign="flex-start center">
    <button mat-icon-button
            class="favorite-button favorite"
            aria-label="Remove from favorites"
            (click)="favouriteClickHandler(issue)">
      <mat-icon>favorite</mat-icon>
    </button>
    <p>{{issue.title}}</p>
  </div>
</div>
<div *ngIf="!favorites.length"  class="info-text">
  You don't have any favorites yet
</div>
