<app-search-form></app-search-form>
<mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
<div *ngIf="!keyword" class="info-text">Your search results will appear here</div>
<div *ngIf="keyword && error" class="info-text warn">We've had a problem with fetching the issues. Please check your internet
  connection and try again
</div>
<app-issues-list *ngIf="keyword && !error"></app-issues-list>



