<div *ngIf="!totalCount && !searching" class="info-text">
  No open issues found. Try a different query
</div>


<div class="list-container" *ngIf="totalCount">
  <app-pagination class="pagination"
                  [currentPage]="currentPage"
                  [listLength]="issues.length"
                  [totalCount]="totalCount"
                  [numPages]="numPages"
                  (pageChanged)="pageChanged($event)"></app-pagination>
  <div fxLayout="row wrap" fxLayoutGap="8px grid" fxLayoutAlign="space-around stretch">
    <app-issue fxFlex="100%" fxFlex.md="50%" fxFlex.lg="33%" *ngFor="let issue of issues" [issue]="issue"
               (favouriteToggled)="toggleFavorite(issue)">{{issue.title}}</app-issue>
  </div>
  <app-pagination class="pagination"
                  [currentPage]="currentPage"
                  [listLength]="issues.length"
                  [totalCount]="totalCount"
                  [numPages]="numPages"
                  (pageChanged)="pageChanged($event)"></app-pagination>
</div>

